html, body {
    width: 100%;
    height: 100%;
}
.main-content{
    height: 95%;
}
/*start-main-index*/
.main-index{
    background-image: linear-gradient(to right, #ff5757 , #8c52ff);
    min-height: 960px;
    display: flex;
    align-items: center;
}
.img-index{
    width: 500px;
}
.img-index img{
    width: 100%;
    border-radius: 40px;
}
.title-index{
    margin-top: 80px;
}
.title-index h1{
    font-weight: 700;
    font-size: 6rem;
    color: #156669;
    margin-bottom: 40px;
}
.title-index span{
    font-size: 2rem;
    color: #156669;
}
.title-index a{
    background: #eeecde;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    margin-top: 40px;
    border: #156669 1px solid;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 1.5rem;
    color: #156669;
    margin-left: 10px;
}
.title-index a:hover{
    background: #d2ccbf;
}
/*end-main-index*/
/*start-login-view*/
.login-view{
    background-image: linear-gradient(to right, #ff5757 , #8c52ff);
    height: 955px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-view-content{
    width: 25%;
    text-align: center;
    background: white;
    border: 3px solid black;
    min-height: 300px;
    padding: 30px;
    border-radius: 20px;
}
.login-view-content h1{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.login-view-content i{
    font-size: 3.5rem;
    display: inline-block;
}
.login-view-content a{
    color: black;
}
.login-view-content .user-name{
    margin-bottom: 25px;
}

.login-view-content .user-name input{
    width: 90%;
    padding: 6px 5px;
    margin-left: 30px;
    border-radius: 8px;
}

.login-view-content .user-name input.required,
.login-view-content .password input.required {
    border: 2px solid red;
}

.login-view-content .password input{
    width: 90%;
    padding: 6px 5px;
    margin-left: 30px;
    border-radius: 8px;
}
.login-view-content .remember-fogot-pass{
    margin: 30px 0;
}
.login-view-content .btn-login{
    padding-bottom: 30px;
    margin: 0 30px;
    border-bottom: 2px solid black;
}
.login-view-content .btn-login button{
    padding: 20px 120px;
    background: #eeecde;
    color: #156669;
    border-radius: 5px;
    border: 1px solid #156669;
}
.login-view-content .btn-login button:hover{
    background: #d2ccbf;
}
.login-view-content span{
    margin-top: 30px;
    display: block;
}
/*end-login-view*/
/*start-register-view*/
.register-view{
    background-image: linear-gradient(to right, #ff5757 , #8c52ff);
    height: 955px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-view-content{
    width: 25%;
    text-align: center;
    background: white;
    border: 3px solid black;
    min-height: 300px;
    padding: 30px;
    border-radius: 20px;
}
.register-view-content h1{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.register-view-content i{
    font-size: 3.5rem;
    display: inline-block;
}

.register-view-content .message {
    display: block;
    color: red;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: start;
    margin-left: 65px;
}

.register-view-content input.error {
    border: 2px solid red;
}

.register-view-content .user-name{
    margin-bottom: 25px;
}
.register-view-content .user-name input{
    width: 90%;
    padding: 6px 5px;
    margin-left: 30px;
    border-radius: 8px;
}
.register-view-content .input-email{
    width: 100%;
    margin-bottom: 25px;
}
.register-view-content .input-email input{
    width: 90%;
    padding: 6px 5px;
    margin-left: 30px;
    border-radius: 8px;
}
.register-view-content .password{
    width: 100%;
    margin-bottom: 25px;
}
.register-view-content .password input{
    width: 90%;
    padding: 6px 5px;
    margin-left: 30px;
    border-radius: 8px;
}
.register-view-content .password-lv2{
    width: 100%;
    margin-bottom: 25px;
}
.register-view-content .password-lv2 input{
    width: 90%;
    padding: 6px 5px;
    margin-left: 30px;
    border-radius: 8px;
}
.register-view-content .checkbox-dksd{
    text-align: left;
    margin-bottom: 30px;
}
.register-view-content .btn-register {
    padding: 20px 120px;
    background: #eeecde;
    color: #156669;
    border-radius: 5px;
    border: 1px solid #156669;
    margin: 0 30px;
}
.register-view-content .btn-register button:hover{
    background: #d2ccbf;
}
/*end-register-view*/
/*start-fogot-pass*/
.fogot-pass-view{
    background-image: linear-gradient(to right, #ff5757 , #8c52ff);
    height: 955px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fogot-pass-view-content{
    width: 25%;
    text-align: center;
    background: white;
    border: 3px solid black;
    min-height: 300px;
    padding: 30px;
    border-radius: 20px;
}
.fogot-pass-view-content i{
    font-size: 3.5rem;
    display: inline-block;
}
.fogot-pass-view-content .send-code{
    margin-left: 10px;
}
.fogot-pass-view-content .send-code:hover{
    color: #8c52ff;
}
.fogot-pass-view-content h1{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.fogot-pass-view-content .input-email{
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.fogot-pass-view-content span{
    display: block;
}
.fogot-pass-view-content .input-email input{
    width: 90%;
    padding: 6px 5px;
    margin-left: 30px;
    border-radius: 8px;
}
.fogot-pass-view-content .verification-codes{
    width: 304px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    padding: 6px 5px;
    margin-left: 65px;
    border-radius: 8px;
}
.fogot-pass-view-content .checkbox-dksd{
    text-align: left;
    margin-bottom: 30px;
}
.fogot-pass-view-content .btn-fogot-pass{
    padding: 20px 120px;
    background: #eeecde;
    color: #156669;
    border-radius: 5px;
    border: 1px solid #156669;
}
.fogot-pass-view-content .btn-fogot-pass:hover{
    background: #d2ccbf;
}
/*end-fogot-pass*/
/*start-header*/
.header{
    width: 100%;
    height: 64px;
    background: #545454;
}
.logo-thuong-hieu{
    width: 64px;
    height: 64px;
    margin-left: 50px;
}
.logo-thuong-hieu img{
    height: 100%;
}
.header-search{
    background: white;
    color: #545454;
    padding: 5px;
    border-radius: 5px;
    margin-left: 120px;
}
.header-search input{
    outline: none;
    border: none;
    padding-right: 100px;
}
.header-left{
    display: flex;
    align-items: center;
    margin-right: 50px;
    color: white;
}

.header-left .name-user {
    font-size: 1.4rem;
}

.header-left .role-user {
    margin-top: 4px;
    font-size: 1.2rem;
}

.header-left i{
    font-size: 16px;
    padding: 5px;
    border: white 1px solid;
    border-radius: 50%;
    position: relative;
    margin-left: 5px;
}
.number-thongbao{
    position: absolute;
    background: red;
    color: white;
    padding: 1px 3px;
    border-radius: 50%;
    right: -5px;
    top: -3px;
    font-size: 1.2rem;
}

.navbar-content {
    width: 250px;
}

.navbar-member{
    background: #6b6b6b;
    height: calc(100vh - 64px);
}
.navbar-member a{
    color: white;
    text-decoration: none;
    padding: 15px 0 15px 25px;
    text-align: left;
    font-size: 1.4rem;
}

.navbar-member a.active:hover,
.navbar-member a.active {
    background: #fff;
    color: #333;
}

.navbar-member a:hover{
    background: #919191;
}
/*end-header*/

/* Main content */
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    width: 100%;
    height: calc(100vh - 64px);
}

.main-content .content-body {
    position: relative;
    padding: 10px;
    margin: 15px;
    height: calc(100% - 40px);
    width: 100%;
    background-color: #fff;
}

.main-content .header-content {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.main-content .header-content .header-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.main-content .header-content .header-action button {
    font-size: 1.3rem;
    padding-left: 15px;
    padding-right: 15px;
}

/* Table */
.main-content .body-content {
    height: 335px;
    overflow-y: scroll;
}

.main-content .table-content thead th {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 5px;
}

.main-content .table-content tbody td,
.main-content .table-content tbody th {
    font-size: 1.3rem;
    color: #333;
}

.table-content tbody td.actions button,
.table-content tbody td.actions a {
    font-size: 1.4rem;
    padding: 4px 10px;
}

.main-content .content-body .bottom-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(0px + 20px);
    padding: 0 10px;
}

.bottom-content .pagination .page-item a {
    font-size: 1.4rem;
}

@media (min-width: 1300px) {
    .main-content .body-content {
        height: auto;
        overflow-y: unset;
    }
}

/* Form add */
.main-content .modal .modal-content form {
    padding: 10px;
}

.main-content .modal .modal-content form select,
.main-content .modal .modal-content form option,
.main-content .modal .modal-content form input,
.main-content .modal .modal-content form textarea {
    font-size: 1.4rem;
}

.main-content .modal .item-content {
    border-radius: 5px;
    padding: 10px;
    background-color: #000;
    margin-bottom: 10px;
}

.main-content .modal .item-content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-right: 15px;
}

.main-content .modal .item-content-top-date {
    font-size: 1rem;
    color: #d2d2d2;
    margin-right: 10px;
}

.main-content .modal .item-content-top-title {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #fff;
}

.main-content .modal .item-content-bottom {
    width: 60%;
    padding-right: 15px;
}

.main-content .modal .item-content-bottom::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.main-content .modal .item-content-bottom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.main-content .modal .item-content-bottom::-webkit-scrollbar-thumb {
    background-color: #afafaf;
}

.main-content .modal .item-content-bottom-desc {
    font-size: 1.4rem;
    color: #c5c5c5;
    line-height: 20px;
}

.main-content .modal .block-schedule {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.main-content .modal .modal-schedule {
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 10px;
    animation: showSchedule 0.3s linear;
}

@keyframes showSchedule {
    from {
        height: 0;
        padding: 0 10px;
        overflow: hidden;
    } to {
        height: auto;
    }
}

.modal .block-schedule .modal-schedule-content-header-title {
    font-size: 1.5rem;
    font-weight: 700;
}